header, nav, aside, section, footer
{
	display: block;
}
body {
    background-color: whitesmoke;
}
.start {
    font-family: Arial;
}
.name {
    text-align: left;
}
.description {
    text-align: right;
}
h1.fontOne {
    font-family: Bebas Neue;
}
li {
    font-family: Bebas Neue;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }